.groupFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-top: 1px solid #ccc;
  gap: 6px;
}

.leaveButton,
.deleteButton {
  box-shadow: 3px black;
  width: 100%;
  padding: 8px;
  background-color: white;
  color: var(--whatsapp-light-green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaveButton img,
.deleteButton img {
  margin-right: 6px;
}

.buttonIcon {
  max-width: 20px;
  height: 20px;
  object-fit: contain;
  vertical-align: middle;
}

.leaveButton:hover {
  color: red;
  background-color: var(--whatsapp-bg-color);
  transform: scale(1.05);
}

.deleteButton {
  color: var(--whatsapp-light-green);
  background-color: white;
}

.deleteButton:hover {
  color: red;
  transform: scale(1.05);
  background-color: white;
}
